<div class="row">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-5 text-center">
				<p class="text-center my-0">github</p>
				<a href=""><img alt="octocat" src="/assets/public/images/octocat.svg"></a>
			</div>
			<div class="col-sm-7">
				<a href="#" class="btn d-block mt-3 btn-outline-primary mb-3">Resume .pdf</a>
				<a href="#" class="btn d-block btn-outline-success">Resume .doc</a>
			</div>
		</div>
	</div>
	<div class="col-sm-8 mt-3">Lead web developer specializing in front-end development. Experienced in all stages of the web development cycle, with a solid background in visual design, usability, programming, management, SEO, testing, and organization.</div>
</div>
<hr>
<div class="row mb-5">
	<h5 class="text-center w-100 font-weight-bold text-primary">EXPERIENCE</h5>
	<div class="col-sm-4 text-center text-secondary text-sm-right">
		<a class="d-block" href="#"><h3 class="text-secondary font-italic font-weight-bold">vitalstorm.com</h3></a>
		<span class="d-block">SENIOR WEB DEVELOPER</span>
		<span class="d-block">Dec 2013 - Current</span>
	</div>
	<div class="col-sm-8">
		<ul>
			<li>Responsible for building responsive web sites from start to finish utilizing javascript, jQuery, HTML, CSS3, PHP and MySQL</li>
			<li>Build interactive UI with Javascript, jQuery implementing best practices.</li>
			<li>Provide front-end web development, domain name registration, web hosting, search engine optimization, and WordPress themes.</li>
			<li>Research and develop new technologies for the company.</li>
			<li>Develop and maintain company website and landing page templates.</li>
			<li>Revise and debug errors on projects that were outsourced.</li>
			<li>Mentor new developers on web development.</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 text-center text-sm-right text-secondary ">
		<a class="d-block font-italic text-secondary" href="#"><h3 class="text-secondary font-italic font-weight-bold">adviceinteractive.com</h3></a>
		<span class="d-block">WEB DEVELOPER</span>
		<span class="d-block">Mar 2013 - Aug 2013</span>
	</div>
	<div class="col-sm-8">
		<ul>
			<li>Designed and developed websites from concept and design to launch.</li>
			<li>Front-end development utilizing HTML, CSS, JavaScript, jQuery, PHP and MySQL.</li>
			<li>All websites were responsive and cross-browser compatible.</li>
			<li>Made updates to websites to meet client needs.</li>
		</ul>
	</div>
</div>
<hr>
<h5 class="text-center w-100 font-weight-bold text-primary">EDUCATION</h5>
<div class="row mb-3">
	<div class="col-sm-5 text-center text-sm-right text-secondary font-italic">MASTER OF ARCHITECTURE</div>
	<div class="col-sm-7 text-center text-sm-left">University of Texas at Arlington, 2009</div>
</div>
<div class="row pb-5">
	<div class="col-sm-5 text-center text-sm-right text-secondary font-italic">BACHELOR OF SCIENCE IN ARCHITECTURE</div>
	<div class="col-sm-7 text-center text-sm-left">University of Texas at Arlington, 2007</div>
</div>



