<nav id="main-nav" class="w-100">
  <div class="container-fluid">
    <ul class="row main-menu d-flex flex-column">
      <li class="clicker text-center"><a class="px-2" routerLink="/bio">BIO</a></li>
      <li class="clicker text-center"><a class="px-2" routerLink="/cv">CURRICULUM VITAE &#123; CV/RESUME &#125;</a></li>
      <li class="clicker text-center"><a class="px-2" routerLink="/saymyname">SAY MY NAME</a></li>
      <li class="clicker text-center"><a class="px-2">ATOMIC FRANKENSTEIN</a></li>
      <li class="text-center"><a class="px-2" href="#">FIRST WEBSITE</a></li>
    </ul>
  </div>
</nav>
